<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!-- Tag in cui andiamo ad impostare le stringhe di connessione-->
	<connectionStrings>
		<add name="conLocale" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Michele\Desktop\C#\18-AdoRubrica\18-AdoRubrica\AdoRubrica.mdf;Integrated Security=True"/>
		<add name="conServer" connectionString="Data Source=SUD-AULA1-PC12\SQLEXPRESS;Initial Catalog=AdoRubrica;Integrated Security=True;"/>
	</connectionStrings>
	<!-- Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Michele\Desktop\C#\18-AdoRubrica\18-AdoRubrica\AdoRubrica.mdf;Integrated Security=Truef-->
	<!-- Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Utente\Documents\AdoRubrica.mdf;Integrated Security=True;Connect Timeout=30-->
</configuration>